@tailwind base;
@tailwind components;
@tailwind utilities;

/*top*/
.scroll-animation{
    position:absolute;
    /*bottom:-30%;*/
    /*right:50%;*/
    animation: arrowmove 1s ease-in-out infinite;
}

.top-title span {
    display: block;
    transform: translate(0, 105%);
    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

.top-title.-visible span {
    transform: translate(0, 0);
}

.top-title span:nth-child(2) {
    transition-delay: 0.06s;
}
.top-title span:nth-child(3) {
    transition-delay: 0.12s;
}
.top-title span:nth-child(4) {
    transition-delay: 0.18s;
}
.top-title span:nth-child(5) {
    transition-delay: 0.24s;
}
.top-title span:nth-child(6) {
    transition-delay: 0.30s;
}
.top-title span:nth-child(7) {
    transition-delay: 0.36s;
}
.top-title span:nth-child(8) {
    transition-delay: 0.42s;
}
.top-title span:nth-child(9) {
    transition-delay: 0.48s;
}
.top-title span:nth-child(10) {
    transition-delay: 0.54s;
}
.top-title span:nth-child(11) {
    transition-delay: 0.6s;
}
.top-title span:nth-child(12) {
    transition-delay: 0.66s;
}
.top-title span:nth-child(13) {
    transition-delay: 0.72s;
}
.top-title span:nth-child(14) {
    transition-delay: 0.78s;
}

/*下からの距離が変化して全体が下→上→下に動く*/
@keyframes arrowmove{
    0%{bottom:1%;}
    50%{bottom:3%;}
    100%{bottom:1%;}
}

/*about*/
.message {
    background: rgba(255, 255, 255, 0.48);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.7px);
    -webkit-backdrop-filter: blur(5.7px);
    position: relative;
}

/*profile*/
.blur-bg::before {
    content: '';
    position: absolute;
    top: -150px; /* 上方向のぼかし */
    left: 0;
    width: 100%;
    height: 150px;
    background: rgba(248, 224, 162, 0.5); /* ぼかし効果の背景色 */
    filter: blur(10px);
    z-index: 10; /* 背景に表示 */
}
.blur-bg::before {
    top: -150px; /* 上方向のぼかし */
}

.hide{
    display: none;
}

.anime {
    animation :imgfade 5s infinite;
    opacity: 0;
}

@keyframes imgfade {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/*album*/
.rotate-270 {
    transform: rotate(-90deg);
}

/*-----管理画面-----*/
.editBtn {
    cursor: pointer;
}

/*アコーディオン*/
.qa__body {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.6s ease; /* 高さと透明度の変化をアニメーション化 */
}

.qa__body.visible {
    max-height: 1000px; /* 表示されるときの最大の高さ */
    opacity: 1;
    padding: 20px;
    line-height: 1.5;
}
