@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    padding: 0;
    margin: 0;
}


#top_text{
    font-family: 'Amatic SC', cursive;
}

html { scroll-behavior: smooth;}


/*opening.blade.php*/

/*文字のフェードイン*/
@keyframes fadeInElement {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in-element {
    animation: fadeInElement 3s ease-out forwards;
}

/*top画像の360回転*/
@layer utilities {
    @keyframes rotate {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

    .rotate-infinite {
        animation: rotate 15s linear infinite;
    }
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in;
}

.hide{
    display: none;
}


.blurred-background-on {
    width: 100vw;
    height: 100vh;
    animation: setBlur 3s ease-in-out forwards;
}

@keyframes setBlur {
    from {
        backdrop-filter: blur(0px);
    }
    to {
        backdrop-filter: blur(3px);
    }
}


/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/
/*#book {*/
/*    display: flex;*/
/*    justify-content: center; !* 中央に配置 *!*/
/*    perspective: 1000px;*/
/*    width: 200px; !* 親要素に合わせる *!*/
/*    height: 400px; !* 高さを設定 *!*/
/*    position: relative;*/
/*    overflow: hidden; !* はみ出した部分を隠す *!*/
/*}*/

/*.my-page {*/
/*    position: absolute;*/
/*    width: 100px; !* 親要素に合わせる *!*/
/*    height: 400px; !* 親要素に合わせる *!*/
/*    background: #afafaf;*/
/*    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); !* ページに影を追加 *!*/
/*    margin: 0; !* マージンをリセット *!*/
/*}*/


/*#book:after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 0;*/
/*    bottom: 0;*/
/*    width: 5px; !* 幅を狭めに *!*/
/*    background: rgba(0, 0, 0, 0.1); !* 淡い影の色 *!*/
/*    left: 50%;*/
/*    transform: translateX(-50%);*/
/*    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); !* 影を柔らかく *!*/
/*    z-index: -1; !* 本の後ろに配置 *!*/
/*}*/
